doctype html
//smankusors
html(lang="en")
    head
        title= title
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        //meta(name="theme-color", content="#c4004f")
        link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.1/normalize.css")
        link(rel="stylesheet", href="/css/main.css?"+env('APP_VERSION'))
    body
        br
        h2 Smankusors' Colab Monitor
        block content
        hr
        footer
            p
                | 2020 © Smankusors (Antony Kurniawan) | GitHub:&nbsp;
                a(href="https://github.com/Smankusors/colab_monitor") Smankusors/colab_monitor
